# - Importing modules:

In [80]:
import requests
from bs4 import BeautifulSoup
import time
import pandas as pd
import codecs
import warnings
warnings.filterwarnings('ignore')

# - Saving links:

In [81]:
dsurls=[]
mlurls=[]
swturls=[]
for i in range (0,3):
    dsurls.append(f'https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=Data%20Science&amp;trk=public_jobs_jobs-search-bar_search-submit&amp;position=1&amp;pageNum=0&amp;start={i}')
    mlurls.append(f'https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=Machine%20Learning&amp;trk=public_jobs_jobs-search-bar_search-submit&amp;position=1&amp;pageNum=0&amp;start={i}')
    swturls.append(f'https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=Software%20Testing&amp;trk=public_jobs_jobs-search-bar_search-submit&amp;position=1&amp;pageNum=0&amp;start={i}')

In [82]:
dsurls

['https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=Data%20Science&amp;trk=public_jobs_jobs-search-bar_search-submit&amp;position=1&amp;pageNum=0&amp;start=0',
 'https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=Data%20Science&amp;trk=public_jobs_jobs-search-bar_search-submit&amp;position=1&amp;pageNum=0&amp;start=1',
 'https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=Data%20Science&amp;trk=public_jobs_jobs-search-bar_search-submit&amp;position=1&amp;pageNum=0&amp;start=2']

# - Scraping:

In [83]:
df = pd.DataFrame(columns=["Title","Location","Company","Salary","Link","Description","Logo","Time",])

In [84]:
def getResponses(urls):
    global df
    for url in urls:
        r=BeautifulSoup(requests.get(url).content, 'html.parser')
        jobs = r.find_all('div', class_='base-card relative w-full hover:no-underline focus:no-underline base-card--link base-search-card base-search-card--link job-search-card')
        time.sleep(3)
        for job in jobs:
            title = job.find('h3', class_='base-search-card__title').text.strip().encode('utf-8')
            title=codecs.decode(title)
            location = job.find('span', class_='job-search-card__location').text.strip().encode('utf-8')
            location=codecs.decode(location)
            company = job.find( 'h4', class_='base-search-card__subtitle').text.strip().encode('utf-8')
            company=codecs.decode(company)
            job_link=job.find('a', attrs={'data-tracking-control-name': 'public_jobs_jserp-result_search-card'})['href']
            try:
                salary = job.find('span', class_='job-search-card__salary-info').text.strip().encode('utf-8')
                salary=codecs.decode(salary).replace('\n','')
            except:
                salary = 'No info'
            job_r=BeautifulSoup(requests.get(job_link).content, 'html.parser')
            time.sleep(3)
            try:
                description=job_r.find('div', attrs={'class': "show-more-less-html__markup"}).text.strip().encode('utf-8')
                description=codecs.decode(description)
            except:
                description = 'No info'
            try:
                job_time=job_r.find( 'span', class_='posted-time-ago__text topcard__flavor--metadata').text.strip().encode('utf-8')
                job_time=codecs.decode(job_time)
            except:
                job_time = 'No info'
            try:
                logo =job_r.find('a', attrs={'data-tracking-control-name':"public_jobs_topcard_logo"}).img['data-delayed-url']
            except:
                logo ='No info'

            df = df.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary, 'Link':job_link,'Description':description,'Logo':logo,'Time':job_time}, ignore_index=True)

In [85]:
getResponses(dsurls)

In [86]:
df.tail(10)

,Title,Location,Company,Salary,Link,Description,Logo,Time
64,Junior Data Scientist,"Boston, MA","FocusKPI, Inc.",No info,https://www.linkedin.com/jobs/view/junior-data...,FocusKPI is looking for a Junior Data Scientis...,https://media-exp1.licdn.com/dms/image/C4D0BAQ...,1 week ago
65,Data Scientist,"Austin, TX",Zilliant,No info,https://www.linkedin.com/jobs/view/data-scient...,Zilliant powers intelligent B2B commerce with ...,https://media-exp1.licdn.com/dms/image/C560BAQ...,3 weeks ago
66,"Product Insights Analyst, Platform","New York, NY",Squarespace,No info,https://www.linkedin.com/jobs/view/product-ins...,"Working with Product Managers, you will integr...",https://media-exp1.licdn.com/dms/image/C4D0BAQ...,2 days ago
67,Data Analyst,"Pompano Beach, FL","Promwad, electronics design house",No info,https://www.linkedin.com/jobs/view/data-analys...,Title: Data AnalystOpen PositionReports to: Di...,https://media-exp1.licdn.com/dms/image/C4D0BAQ...,3 weeks ago
68,Data Analyst,"Columbia, TN",Blue Signal Search,No info,https://www.linkedin.com/jobs/view/data-analys...,Our client provides a range of health solution...,https://media-exp1.licdn.com/dms/image/C4D0BAQ...,6 days ago
69,Junior SQL Developer Data Analyst,"New York, NY",81qd,No info,https://www.linkedin.com/jobs/view/junior-sql-...,"81qd is an innovative, data-driven, health car...",https://media-exp1.licdn.com/dms/image/C560BAQ...,3 days ago
70,Data Science Associate.,"Boston, MA",Santander US,No info,https://www.linkedin.com/jobs/view/data-scienc...,"Data Science Associate.Boston, United States o...",https://media-exp1.licdn.com/dms/image/C4E0BAQ...,1 week ago
71,Data Scientist,"Hoboken, NJ",Walmart,No info,https://www.linkedin.com/jobs/view/data-scient...,Position Summary...What you'll do...Data Scien...,https://media-exp1.licdn.com/dms/image/C560BAQ...,No info
72,Business Intelligence Analyst,"Seattle, WA",Mastercard,No info,https://www.linkedin.com/jobs/view/business-in...,Our PurposeWe work to connect and power an inc...,https://media-exp1.licdn.com/dms/image/C560BAQ...,2 days ago
73,Data Analyst,"San Francisco, CA",Turo,No info,https://www.linkedin.com/jobs/view/data-analys...,Turo is the world's largest car sharing market...,https://media-exp1.licdn.com/dms/image/C560BAQ...,1 day ago

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        74 non-null     object
 1   Location     74 non-null     object
 2   Company      74 non-null     object
 3   Salary       74 non-null     object
 4   Link         74 non-null     object
 5   Description  74 non-null     object
 6   Logo         74 non-null     object
 7   Time         74 non-null     object
dtypes: object(8)
memory usage: 4.8+ KB

In [88]:
getResponses(mlurls)

In [89]:
df.tail(10)

,Title,Location,Company,Salary,Link,Description,Logo,Time
136,Data Science Intern,"San Diego, CA",HP,No info,https://www.linkedin.com/jobs/view/data-scienc...,Are you passionate about technology and lookin...,https://media-exp1.licdn.com/dms/image/C560BAQ...,1 day ago
137,Data Science Intern,"Palo Alto, CA",HP,No info,https://www.linkedin.com/jobs/view/data-scienc...,Are you passionate about technology and lookin...,https://media-exp1.licdn.com/dms/image/C560BAQ...,1 day ago
138,Machine Learning Researcher,United States,Zenex Partners,No info,https://www.linkedin.com/jobs/view/machine-lea...,A great opportunity to work with one of our le...,https://media-exp1.licdn.com/dms/image/C4D0BAQ...,No info
139,Machine Learning Engineer,"Irvine, CA",Neudesic,No info,https://www.linkedin.com/jobs/view/machine-lea...,"About Neudesic, an IBM CompanyWhat sets us apa...",https://media-exp1.licdn.com/dms/image/C4E0BAQ...,No info
140,DSP/Machine Learning Developer in Test,"San Diego, CA",Qualcomm,No info,https://www.linkedin.com/jobs/view/dsp-machine...,Job DescriptionTests and modifies general syst...,https://media-exp1.licdn.com/dms/image/C560BAQ...,1 day ago
141,Data Scientist Advanced Development Program In...,"Philadelphia, PA",Vanguard,No info,https://www.linkedin.com/jobs/view/data-scient...,Shape the future of investingComplement your e...,https://media-exp1.licdn.com/dms/image/C4D0BAQ...,No info
142,Python Developer,"Columbus, OH",VBeyond Corporation,No info,https://www.linkedin.com/jobs/view/python-deve...,"Job Role: Python Developer Location: Plano, TX...",https://media-exp1.licdn.com/dms/image/C560BAQ...,No info
143,Data Scientist Advanced Development Program In...,"Dallas, TX",Vanguard,No info,https://www.linkedin.com/jobs/view/data-scient...,Shape the future of investingComplement your e...,https://media-exp1.licdn.com/dms/image/C4D0BAQ...,No info
144,Data Science Intern,"Spring, TX",HP,No info,https://www.linkedin.com/jobs/view/data-scienc...,Are you passionate about technology and lookin...,https://media-exp1.licdn.com/dms/image/C560BAQ...,1 day ago
145,Data Scientist,"Woodbridge, NJ",Plymouth Rock Assurance,No info,https://www.linkedin.com/jobs/view/data-scient...,Plymouth Rock has been awarded the #1 Large Em...,https://media-exp1.licdn.com/dms/image/C4D0BAQ...,No info

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        146 non-null    object
 1   Location     146 non-null    object
 2   Company      146 non-null    object
 3   Salary       146 non-null    object
 4   Link         146 non-null    object
 5   Description  146 non-null    object
 6   Logo         146 non-null    object
 7   Time         146 non-null    object
dtypes: object(8)
memory usage: 9.2+ KB

In [91]:
getResponses(swturls)

In [92]:
df.tail(10)

,Title,Location,Company,Salary,Link,Description,Logo,Time
186,C#/.NET Developer (remote),"Vienna, VA",Dice,No info,https://www.linkedin.com/jobs/view/c%23-net-de...,Dice is the leading career destination for tec...,https://media-exp1.licdn.com/dms/image/C560BAQ...,No info
187,Principal Software Engineer in Test - Automation,"Marlborough, MA",Nasuni,No info,https://www.linkedin.com/jobs/view/principal-s...,DescriptionSDET - Principal Software Developme...,https://media-exp1.licdn.com/dms/image/C4D0BAQ...,1 week ago
188,Senior Business Analyst,"Hanover, MD",YesCare,No info,https://www.linkedin.com/jobs/view/senior-busi...,"Bachelor’s degree in Business Administration, ...",https://media-exp1.licdn.com/dms/image/C560BAQ...,No info
189,Software Implementer- Testing Lead- Digital Co...,"Irvine, CA",Baker Tilly US,No info,https://www.linkedin.com/jobs/view/software-im...,ResponsibilitiesAs we continue to navigate the...,https://media-exp1.licdn.com/dms/image/C560BAQ...,1 day ago
190,Fullstack Java Developer - Mid Level (Remote O...,"Plano, TX",USAA,No info,https://www.linkedin.com/jobs/view/fullstack-j...,Purpose of JobWe are seeking a talented Full S...,https://media-exp1.licdn.com/dms/image/C4E0BAQ...,No info
191,Software Principal Engineer: Test frameworks -...,"Memphis, TN",Dell Technologies,No info,https://www.linkedin.com/jobs/view/software-pr...,Software Principal EngineerThe Software Engine...,https://media-exp1.licdn.com/dms/image/C4E0BAQ...,1 week ago
192,Software Principal Engineer: Test frameworks -...,"New Mexico, United States",Dell Technologies,No info,https://www.linkedin.com/jobs/view/software-pr...,Software Principal EngineerThe Software Engine...,https://media-exp1.licdn.com/dms/image/C4E0BAQ...,1 week ago
193,"Sr Software Engineer NodeJS , Serverless / API...","Bellevue, WA",Dice,No info,https://www.linkedin.com/jobs/view/sr-software...,No info,No info,No info
194,Data Analytics Product Manager,"Oakland, CA",Mosaic (joinmosaic.com),No info,https://www.linkedin.com/jobs/view/data-analyt...,Who We AreWe are creating the best way to fina...,https://media-exp1.licdn.com/dms/image/C4E0BAQ...,No info
195,Senior Web Developer (React),"Omaha, NE",NCR Corporation,No info,https://www.linkedin.com/jobs/view/senior-web-...,About NCRNCR Corporation (NYSE: NCR) is a lead...,https://media-exp1.licdn.com/dms/image/C560BAQ...,No info

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        196 non-null    object
 1   Location     196 non-null    object
 2   Company      196 non-null    object
 3   Salary       196 non-null    object
 4   Link         196 non-null    object
 5   Description  196 non-null    object
 6   Logo         196 non-null    object
 7   Time         196 non-null    object
dtypes: object(8)
memory usage: 12.4+ KB

# - Storing dataframe in a csv file:

In [94]:
df.to_csv('jobs.csv')